:root {
  --first-letter-colour: red;
  --fitst-letter-ident: 20px;
  --first-letter-size: 36px;
}

/* -------UTILITIES------ */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
}

body {
  font-family: "Oswald", sans-serif;
  width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
header a,
footer a {
  color: black;
}
main a {
  color: maroon;
}
a:hover,
a:focus {
  color: crimson;
}
a:active {
  color: yellowgreen;
}
h1 {
  font-family: "Caveat", cursive;
  font-size: 58px;
  font-weight: 700;
  margin: 0 auto;
}
h1 a {
  color: rgb(0, 118, 0);
  text-shadow: 2px 2px 5px grey;
}
h2 {
  text-indent: var(--fitst-letter-ident);
  font-size: 26px;
  margin: 0 auto;
}

h2::first-letter {
  color: var(--first-letter-colour);
  font-size: var(--first-letter-size);
}

/* <!--Розклад занять на 2022 рік--> */

header,
footer {
  padding-left: 25px;
}

.week {
  display: flex;
  justify-content: space-around;
}

.week .externat {
  display: flex;
  font-size: 400;
}

.externat ul:not(:first-child) {
  margin-left: 2px;
  list-style: none;
}

.externat ul:not(:first-child) a {
  color: black;
}

.externat ul:not(:first-child) a:hover {
  color: green;
}

/* table styles */
.table-name {
  font-size: 26px;
  font-weight: bold;
  text-indent: var(--fitst-letter-ident);
  line-height: 5px;
}
.table-name::first-letter {
  color: var(--first-letter-colour);
  font-size: var(--first-letter-size);
}
table {
  border-collapse: collapse;
  line-height: 15px;
}
thead {
  font-size: large;
  line-height: 25px;
}
table th,
table td {
  padding: 5px;
  border: 2px solid #2a2a2a;
  width: 185px;
}
.top {
  border-top: none;
  text-align: center;
  font-style: italic;
}
.bottom {
  border-bottom: none;
  font-size: large;
  font-weight: bold;
  text-shadow: 1px 1px 2px lightslategray;
}
.top:hover {
  background-color: Gainsboro;
}
.nomber {
  width: 15px;
  font-size: large;
}
th[rowspan="2"],
span {
  color: black;
}
.time {
  width: 100px;
}
.in-line {
  width: 20px;
  border: 2px solid #2a2a2a;
  display: inline;
}
.book {
  display: flex;
  flex-direction: row;
}
.inline {
  padding-right: 40px;
}
